*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root{
    font-size: .8rem;
}

html, body{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: relative;
    font-size: 1rem;
    overflow: auto;
}

.auxiliar-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: linear-gradient(135deg,rgba(34,15,254,.9), rgba(241,15,15,.7));
    visibility: hidden;
}



main{
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: linear-gradient(135deg,rgba(34,15,254,.9), rgba(241,15,15,.7));
}

.big-window{
    font-size: 1rem;
    position: absolute;
    margin: auto;
    width: 72rem;
    height: 30rem;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
    border: .5 solid #FFF;
    border-radius: 50px;
    box-shadow: 10px 10px 10px 0 #000;
    background-image: url(assets/big-window-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.principal-info{
    font-size: 1em;
    width: 100%;
    position: absolute;
    top: 12.4em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.big-window h2, .big-window h3, .big-window h4{
    color: #FFF;
}

.big-window h2{
    font-size: 13.5em; 
    margin-left: 1rem; 
}

.city-date{
    margin-top: 8em;
    margin-right: 1em;
}

.city-date h3{
    font-size: 3em;
}

.city-date h4{
    font-size: 2em;
}



                        /* info cards  */
.info-cards{
    position: absolute;
    top: 37rem;
    left: 50%;
    transform: translate(-50%, 0);
    height: 22.3rem;
    width: 70rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1.8rem;
}

.info-card{
    position: relative;
    width: 17.4rem;
    height: 22.3rem;
    border-radius: 50px;   
}
           
.info-card::before{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px; 
    opacity: .7;
    background: linear-gradient(135deg, #CCC,#EEE 40%, #757171,  #757171);
    z-index: -1;
}
             /* cloud */
.info-card i{
    display: inline-block;
    width: 41%;
    position: absolute;
    top: 2.2rem;
    right: 1rem;
}

.info-card i img{
    width: 100%;
}

            /* data  */
.temperature{
    font-size: 5.5rem;
    color: #fff;
    position: absolute;
    top: 1rem;
    left: 2.3rem;
    text-shadow: .4rem .4rem .6rem #000;
}

.info{
    color: #fff;
    font-size: 2rem;
    position: absolute;
    left: 1.6rem;
    top: 10.3rem;
}

.info ul{
    width: 100%;
    float: left;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1.4rem;
    row-gap: 1.2rem;
}

.info ul li{
    display: inline-block;
    list-style: none;
    text-shadow: .4rem .4rem .6rem #000;
}


@media(max-width:1000px){
    :root{
        font-size: 1.5rem;
    }

    .big-window{
        width: 29rem;
        height: 16rem;
    }

    .principal-info{
        font-size: .50rem;
        top: 6rem;
    }

    .info-cards{
        flex-direction: column;
        margin: 0 auto;
        height: 70rem;
        width: 22.3rem;
        top: 24rem;
    }

    .info-card{
        width: 100%;
        height: 22.3rem;
    }
}



@media(min-width:1850px){
    :root{
        font-size: 1.1rem;
    }
}


@media(max-width:720px){
    :root{
        font-size: 1.2rem;
    }

    .big-window{
        width: 29rem;
        height: 16rem;
    }

    .principal-info{
        font-size: .50rem;
        top: 6rem;
    }

    .info-cards{
        flex-direction: column;
        margin: 0 auto;
        height: 70rem;
        width: 22.3rem;
        top: 24rem;
    }

    .info-card{
        width: 100%;
        height: 22.3rem;
    }
}



@media(max-width:600px){
    :root{
        font-size: 1.0rem;
    }

    .big-window{
        width: 29rem;
        height: 16rem;
    }

    .principal-info{
        font-size: .50rem;
        top: 6rem;
    }

    .info-cards{
        flex-direction: column;
        margin: 0 auto;
        height: 70rem;
        width: 22.3rem;
        top: 24rem;
    }

    .info-card{
        width: 100%;
        height: 22.3rem;
    }
}
